<div class="d-flex align-items-center flex-column h-100">

    <div class="rounded shadow p-3 mt-5 min-width-25">

        <h3 class="text-center">Login</h3>

        <div *ngIf="afterRegistration" class="text-success border border-success text-center rounded">
            Account created successfully!
        </div>

        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">

            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" [ngClass]="invalidData? 'is-invalid' : '' " [(ngModel)]="login.username" required>
        
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [ngClass]="invalidData? 'is-invalid' : ''" [(ngModel)]="login.password" required>

            <button type="submit" class="btn btn-primary mt-3" >Log In</button>
        </form>

        <p class="text-nowrap mt-3">
            <span class="text-black-50">Doesn't have an account yet? </span>
            <a routerLink="/registration">Sign up</a>
        </p>

    </div>

    <div class="h-100 d-flex justify-content-center align-items-center mt-5">
        <img src="assets/images/refrigerator.svg" alt="refrigerator">
    </div>

</div>
